<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.ox.it.example" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Example Project</name>
    <description>
        An example project
    </description>
    <author email="apps@maillist.ox.ac.uk" href="http://www.it.ox.ac.uk">
        Web and Mobile Applications Team, University of Oxford IT Services
    </author>
    <content src="index.html" />
    <access origin="*" />

    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
</widget>
