<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.ox.it.example" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Example Project</name>
    <description>
        An example project
    </description>
    <author email="apps@maillist.ox.ac.uk" href="http://www.it.ox.ac.uk">
        Web and Mobile Applications Team, University of Oxford IT Services
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <gap:config-file parent="UIStatusBarHidden" platform="ios">
        <true />
    </gap:config-file>
    <gap:config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
        <false />
    </gap:config-file>
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
</widget>
