<ul class="list">
	<li class="divider">
		Items (popups)
	</li>
	{{#each items}}
		<li class="padded-list thing">{{name}} - {{data}}</li>
	{{/each}}
	<li class="divider">
		Items (links)
	</li>
	{{#each items}}
		<li class="padded-list">
			<a href="#/thing/{{id}}">{{name}}</a>
		</li>
	{{/each}}
</ul>

<div  id="panelTest" class="panel">
	<header class="header-bar">
		<div class="btn icon icon-close pull-right" data-panel-close="true"></a>
		<h1 class="title">Panel</h1>
	</header>
	
	<div class="content">
		<p class="padded-full">
			Here is a dismissable popup.
		</p>
	</div>
</div>
