{{#if showBack}}
  <a href="#{{backLink}}" id="header-back" class="btn pull-left">back</a>
{{/if}}

<div class="center">
  <h1  class="title"><a href="#" id="header-home" class="ui-btn"></a>{{headerText}}</h1>
</div>

{{#if showActionButton}}
	<a href="{{actionButton.href}}" id="nav-menu-action" class="btn pull-right">{{actionButton.text}}</a>
{{/if}}
{{#if showNavMenuButton}}
	<a href="#" id="nav-menu-button" class="btn pull-right">Menu</a>
{{/if}}
